{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    </head>
    <body class="container mt-5">
        <h2 id = "example">Sign up</h2>
        <form method="post" enctype="multipart/form-data" id = "registerForm">

            <!-- Formulario que tienen que hacer todos los user -->
            <div id = "regularForm">
                {% csrf_token %}
                {{ userType | crispy}}
            </div>
            <!-- Formulario para Persona natural -->
            <div id="personForm" style="display: none;">
                <h3>Natural Account</h3>
                {% csrf_token %}
                {{ naturalForm | crispy}}
            </div>
            <!-- Formulario para Persona juridica o negocio -->
            <div id="businessForm" style="display: none;">
                <h3>Business Account</h3>
                {% csrf_token %}
                {}
            </div>
            <button type="button" onclick = "next(document.getElementById('userType').value)" class="btn btn-primary" id = "boton-next">Next</button>
            <br>
            <button type="submit" class="btn btn-primary" style = "display: none;" id = "boton-register" onclick = "validateRole(document.getElementById('userType').value)">Register</button>
        </form>
    </body>
    {% load static %}
    <script src = "{% static 'js/forms.js' %}"></script>
</html>
